# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr

# env
*.local
.env
.env.*

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# test
coverage
